:root {
  --black: #000000;
  --white: #ffffff;
  --teal: #74E7D9;
  --mint: #CBF6F1;
  --tan: #FFE8D6;
  --brown: #cb997e;
}

@media screen and (max-width: 844px) {
  body {
    width: 400px;
  }
  .login {
    width:386px;
    display:flex;
    justify-content: center;
    padding-bottom: 0px;
  }
    .Registration {
      display: flex;
      justify-content: center;
      width: 200px;
      margin-left: 95px;
      margin-top: 30px;
    }
      Footer {
       
        font-size: 12px;
      }

      Footer a {
        font-size: 14px;
      }
      
    }
  
    .ActivityFeed {
      margin-bottom: 1px;
      padding-left:65px;
    }


 #Register{
  display: flex;
  justify-content: center;
  }


  .activityIcon {
    width: 57px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 14px;
}


/* body {
    color:black;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background: #fff;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  .bloc-tabs {
    display: flex;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  .isActive  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  .isActive::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
} 

::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.isActive{
  
  color:#cb997e;
  font-family: Fredoka ;
  display:block;
  width:1000px;
  
}
.isInactive {
  
  display:none;
  width:1000px
}

body {
  background-color:#fbfbfb;
  margin-bottom: 1px;    
}

.title {color:#ffffff}

.box {
  background-color:#000000;
}

.tabs{
  margin-bottom: 0px;
}

.topLine {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.topLeft {
display: flex;
justify-content: flex-start;
padding-left: 255px;


}

.cardHeading {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
 
}

.dogInfo {
  color:#3f4343;
  font-family:fredoka-light;
  font-size: 14px;
  padding-top: 20px;
}


.MuiBox-root{
  border-radius: 30px;
  border: none;
  font-family: fredoka;
  font-size:medium;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.careTakerModal {
  display: flex;
  justify-content: flex-start;

 
  width: 1005px;
  height: 32px;
}
